<form id="message">
    <div class="form-group">
        <label for="body">Message:</label>
        <textarea placeholder="Write a message for the bottle" class="form-control" rows="10" id="body"></textarea>
        <button type="submit" class="btn btn-success submit">Submit</button>
    </div>
</form>

{{#each Messages}}
<div id="paper-background">
    <div class="paper">
        <p>{{body}}</p>
    </div>
</div>
{{/each}}

<div id="sky">
    <div class="theSun">
        <div class="ray_box">
            <div class="ray ray1"></div>
            <div class="ray ray2"></div>
            <div class="ray ray3"></div>
            <div class="ray ray4"></div>
            <div class="ray ray5"></div>
            <div class="ray ray6"></div>
            <div class="ray ray7"></div>
            <div class="ray ray8"></div>
            <div class="ray ray9"></div>
            <div class="ray ray10"></div>
        </div>
    </div>
    <!-- 	<div class="cloudwrapperOne">
		<div class="cloud c1"></div>
	</div -->
    <div class="cloudwrapperTwo">
        <div class="cloud c2"></div>
    </div>
    <div class="cloudwrapperThree">
        <div class="cloud c3"></div>
    </div>

</div>
<!-- </div> -->



<br>
<br>
<br>
<div>
    <!-- <img class="bottle" src="../images/bottle.png" alt="bottle" width="150px" height="150px"
            style="z-index:1; position:absolute; top: 400px; transform: translatey(0px); animation: float 6s ease-in-out infinite;"> -->
    <img class="bottle" src="assets/images/bottle.png" alt="bottle">
</div>
<div id="canvas" style="z-index:2">
    <canvas></canvas>
</div>