<div class="row">
    <div id="form-bg" class="col s4">
        <form id="message">
            <div class="form-group">
                <label for="body" style="font-size: 20px">Message:</label> <br>
                <textarea placeholder="Write a message for the bottle" class="form-control" id="body"></textarea> <br>
                <button type="submit" class="btn btn-success submit">Submit</button>
            </div>
        </form>
    </div>
    
    <div class="col s8">
        {{#each Messages}}
        <div class="paper">
            <p>{{body}}</p>
        </div>
        {{/each}}
    </div>
</div>