html,
body {
	height: 100%;	
}

body {
	background: radial-gradient( circle cover, hsl( 210, 90%, 90% ), hsl( 210, 90%, 70% ) );
	overflow: hidden;
}

canvas {
	display: block;	
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-100px);
	}
	100% {
		transform: translatey(0px);
	}
}

.bottle {
	transform: translatey(0px);
	animation: float 1s ease-in-out infinite;
}