body{
    background-color: white;
}

#body{
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    resize: none;
    height: 250px;
}

.close:hover{
    cursor: grab;
}

#form-bg{
    font-family: 'Kaushan Script', cursive;
    font-size: 20px;
    z-index: 2002;
    width: 500px;
    position: fixed;
    top: 25px;
    left: 25px;
	padding: 25px;
	margin: 20px 20px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.paper{
    /* background-color: green; */
    font-family: Apple Chancery, cursive;
    font-size: 20px;
    z-index: 2002;
    height: 380px;
    width: 500px;
    transition: 1s;
    position: fixed;
    top: 25px;
    left: 700px;
	padding: 50px;
	margin: 20px auto;
	background-color: #fff;
	-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.paper:hover{
    box-shadow: 0 0 5px rgb(255, 246, 117), inset 0 0 50px rgba(255, 240, 110, 0.1);
}