#paper{
    background-color: green;
    height: 500px;
    width: 500px;
}

#paper:hover{
	-webkit-transform: rotate3d(0,1,0,-55deg);
	-moz-transform: rotate3d(0,1,0,-55deg);
	-o-transform: rotate3d(0,1,0,-55deg);
	-ms-transform: rotate3d(0,1,0,-55deg);
	transform: rotate3d(0,1,0,-55deg);
}